$primary-bg: rgb(231, 210, 214);
$secondary-bg: #e4a3c3;
$primary-text: #000000;
$bg-grad-linear: linear-gradient(90deg, $primary-bg, $secondary-bg);
$bg-grad-radial: radial-gradient(transparent, $secondary-bg, transparent, transparent);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: $primary-bg;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 20px 70px;
}

nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div{
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
}

a{
    all: unset;
    cursor: pointer;
}

ul{
    flex-wrap: wrap;
    margin: 0 10px;
}

li{
    text-align: center;
    list-style-type: none;
    margin: 10px 20px 10px 0;
}

button{
    all: unset;
    cursor: pointer;
}

img{
    border-radius: 50%;
}

hr{
    width: calc(100% - 90px);
    border-style: solid;
    border-color: #858585;
    margin: 0 auto;
}

#firstSection{
    width: 100%;
    background-image: $bg-grad-radial;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px 50px;
    margin: 50px 0;
}

#secondSection{
    width: 50%;
    background: transparent;
    left: 0;
    padding: 20px 50px;
    margin: 50px 0;

    div{
        margin: 50px 0 0 -40px;
    }

    h1{
        margin: 40px 0;
    }

    p{
        line-height: 30px;
    }

    a{
        margin: 0 10px;
    }
}

#thirdSection{
    height: 400px;
    width: 50%;
    background-image: url("../../../assets/images/pexels-fauxels-3184339_1.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid black;
    right: 0;
    margin: auto 0;
}

.smallText{
    font-size: 18px;
}

.mediumText{
    font-size: 20px;
}

.XMediumText{
    font-size: 30px;
}

.largeText{
    font-size: 40px;
}

.XLargeText{
    font-size: 70px;
    -webkit-text-stroke: 1px black;
}

.bold{
    font-weight: bolder;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    -webkit-text-stroke: 1px black;
    font-size: 30px;
}

.btnType1{
    width: 150px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 5px 10px;

&:hover{
    background-color: black;
    color: white;
}
}


.btnType2{
    width: 150px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 7px;
}

// .btnType3{
//     height: 50px;
//     width: 50px;
//     background-color: transparent;
//     border: 2px solid black;
//     border-radius: 50%;
//     padding: 0;
//     // padding: 3px 10px;
// }

#watchShowreel{
    margin-left: 5px;
}

#fourthSection{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;


    &Card1{
        height: 200px;
        width: 300px;
        background-color: transparent;
        padding: 0 0 0 10px;
        margin: 20px;

        div:nth-child(1){
            margin: 0 0 15px 0;
        }
        
        div:nth-child(2){
            width: fit-content;
            background-color: transparent;
            margin: 0 15px;
            padding: 0;

            img{
                width: 60px;
                height: 60px;
                margin: 0px;
            }
        }

        p:first-child{
            margin-bottom: 7px;
        }
    }

    &Card2{
        height: 200px;
        width: 300px;
        background-color: rgb(197, 229, 233);
        border: 3px solid white;
        border-radius: 15px;
        padding: 0;
        margin: 20px;

        div:nth-child(1){
            width: 100%;
            background-color: transparent;
            color: rgb(95, 93, 93);
            justify-content: space-between;
            margin: 15px 0 -25px 0;

            img{
                height: 30px;
                width: 30px;
            }
        }

        div:nth-child(2) p:nth-child(1){
            margin-bottom: 15px;
        }
        div:nth-child(2) p:nth-child(2){
            padding: 0;
            margin: 0;
        }
    }

    &Card3{
        height: 200px;
        width: 300px;
        background-color: rgb(197, 229, 233);
        border: 3px solid white;
        border-radius: 15px;
        padding: 0;
        margin: 20px;

        div:nth-child(1){
            width: 100%;
            background-color: transparent;
            color: rgb(95, 93, 93);
            justify-content: space-between;
            margin: 15px 0 -25px 0;

            img{
                height: 30px;
                width: 30px;
            }
        }

        div:nth-child(2) p:nth-child(1){
            margin-bottom: 15px;
        }
        div:nth-child(2) p:nth-child(2){
            padding: 0;
            margin: 0;
        }
    }

}

#fifthSection{
    width: 100%;
    background-color: rgb(233, 217, 241);
    flex-wrap: wrap;
    padding: 100px 0;
    margin-top: 100px;

    &Part1{
        height: 500px;
        width: 400px;
        background-color: #C8C8C8;
        background-image: url("../../../assets/images/ehimetalor-akhere-unuabona-n3xVb3jNoMk-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border-radius: 50%;

    }

    &Part2{
        height: 100%;
        width: 800px;
        background-color: transparent;

        &Header{
            background-color: transparent;
            margin-bottom: 25px;

            p:nth-child(1){
                font-size: 50px;
                margin-bottom: 30px;
            }

            p:nth-child(2){
                font-size: 40px;
            }
        }

        &Body{
            background-color: transparent;
            width: auto;
            color: black;
            padding: 0;
            margin: 0 auto;

            &1 {
                width: auto;
                background-color: transparent;
                padding: 0 10px;
                margin: 0;
            
                div:first-child{
                    width: 100%;
                    justify-content: space-evenly;
        
                }
            }

            &2 {
                width: auto;
                background-color: transparent;
                padding: 0 10px;
                margin: 0;
            
                div:first-child{
                    width: 100%;
                    justify-content: space-evenly;
        
                }
            }


        }
    }
}

#sixthSection{
    height: 900px;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    position: absolute;
    padding: 0;
    margin:  200px auto;
    // margin-bottom: 100px;

    &Part1{
        height: 500px;
        width: 100%;
        background-color: transparent;
        position: absolute;
        right: 0;
        margin: 0 35px;

        p{
            margin: 30px 0;
            line-height: 50px;
        }

        p:nth-child(2){
            -webkit-text-stroke: 1px black;
            margin-bottom: 50px;
        }

        p:nth-child(4){
            line-height: 35px;
        }
    }


    &Part2{
        height: 500px;
        width: 100%;
        background-color: transparent;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        position: relative;
        left: 0;
        margin: 0;


        &1{
            width: 200px;
            background-color: rgba(255, 192, 203, 0.705);
            border: 4px solid white;
            border-radius: 25px;
            justify-content: center;
            align-content: center;
            position: absolute;
            padding: 40px 0;
            margin: -300px 0 0 -450px;

            img{
                margin-bottom: 15px;
            }

            p{
                margin: 5px auto;
            }
        }

        &2{
            width: 350px;
            background-color: rgba(255, 192, 203, 0.705);
            border: 4px solid white;
            border-radius: 25px;
            justify-content: center;
            align-content: center;
            position: absolute;
            padding: 40px 0;
            margin: -300px 0 0 150px;

            img{
                margin-bottom: 15px;
            }

            p{
                margin: 5px auto;
                text-align: center;
            }

            p:nth-child(2){
                margin-bottom: 40px;
            }

        }

        &3{
            width: 470px;
            background-color: rgba(255, 192, 203, 0.7);
            border: 4px solid white;
            border-radius: 25px;
            justify-content: center;
            align-content: center;
            position: absolute;
            padding: 0 50px 0 0;
            margin: 340px 0 0 20px;

            img{
                margin-bottom: -20px;
                margin-left: -50px;
            }

            p{
                text-align: justify;
                margin: 5px 10px 5px -5px;
            }

            p:nth-child(2){
                margin-bottom: -20px;
            }

        }
        
        &3Body{
            margin-top: -20px;
        }
    }

    &Part2Circle{
        height: 150px;
        width: 150px;
        background-color: rgb(206, 49, 198);
        border-radius: 50%;
        margin: 0 0 -50px -400px;
    }
}

#seventhSection{
    width: 100%;
    background-color: rgb(233, 217, 241);
    padding: 50px 0;

    p:nth-child(1){
        text-align: center;
        margin-bottom: 7px;
    }

    p:nth-child(2){
        padding: 0 20px;
    }

    &Head{
        margin-bottom: -40px;

        p:nth-child(1){
            margin-bottom: 30px;
        }

        p:nth-child(2){
            -webkit-text-stroke: 0.5px black;
        }        
    }

    &Body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        &1, &2, &3{
            width: 350px;
            margin-top: 50px;
        }
    }
}

#Below{
    width: 100%;
    background-color: rgb(235, 231, 231);
    margin-top: -20px;
    margin-bottom: 0;
}

#eightSection{
    width: 100%;
    justify-content: space-evenly;
    padding: 50px;

    img{
        border-radius: 0;
        filter: grayscale(100%);
        margin: 0 20px;
    }

    
}

#ninthSection{
    width: 100%;
    flex-wrap: wrap;

    &Part1{
        width: 300px;
        line-height: 30px;

        h2{
            margin-bottom: 20px;
        }
    }

    &Part2{
        width: 300px;
        margin-top: 30px;

        p{
            margin-bottom: 20px;
        }

        a p{
            margin-bottom: 10px;
        }

        a:nth-child(3){
            margin-left: -13px;
        }
    }

    &Part3{
        width: 300px;
        margin-top: -10px;

        p{
            text-align: center;
            margin-bottom: 20px;
        }

        input[type="email"]{
            all: unset;
            height: 30px;
            background-color: white;
            border: 1px solid rgb(158, 158, 158);
            border-radius: 25px;
            padding-left: 15px;
        }

        input[type="submit"]{
            all: unset;
            height: 30px;
            width: fit-content;
            background-color: black;
            color: white;
            cursor: pointer;
            border-radius: 25px;
            padding:  0 10px;
            margin: 0 5px;
        }
    }
}

#tenthSection{
    width: 100%;
    color: rgb(53, 53, 53);
    justify-content: space-between;
    padding: 30px 20px;

    p{
        margin: 0 20px;
        text-align: center;
    }

    a{
        color: black;
        text-align: center;
    }
}

@media screen and(max-width: 1200px){

    #firstSection{
        width: 100%;
        background-image: $bg-grad-radial;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px 50px;
        margin: 50px 0;
    }

    #secondSection{
        width: 100%;
        background: transparent;
        left: 0;
        padding: 20px;
        margin: 50px 0;
    
        div{
            margin: 50px 0 0 -40px;
        }
    
        h1{
            margin: 40px 0;
        }
    
        p{
            line-height: 30px;
        }
    
        a{
            margin: 0 10px;
        }
    }
    
    #thirdSection{
        height: 400px;
        width: 50%;
        background-image: url("../../../assets/images/pexels-fauxels-3184339_1.jpg");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: 2px solid black;
        display: none;
        right: 0;
        margin: auto 0;
    }

    #eightSection{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px 0;
    
        img{
            // height: 50%;
            // width: 17%;
            border-radius: 0;
            filter: grayscale(100%);
            margin: 0 20px;
        }
    
        
    }

    // #sixthSection{
    //     height: fit-content;
    //     width: 90%;
    //     background: linear-gradient(180deg, white, white, rgb(235, 192, 255), transparent);
    //     display: flex;
    //     flex-direction: column;
    //     padding: 0;
    //     margin:  50px auto;
    
    //     &Part1{
    //         height: fit-content;
    //         width: 100%;
    //         position: absolute;
    //         margin: 50px 0;
    
    //         p{
    //             margin: 30px 0;
    //             line-height: 50px;
    //         }
    
    //         p:nth-child(2){
    //             -webkit-text-stroke: 1px black;
    //             margin-bottom: 50px;
    //         }
    
    //         p:nth-child(4){
    //             line-height: 35px;
    //         }
    //     }
    
    
    //     &Part2{
    //         height: 500px;
    //         width: 100%;
    //         background-color: transparent;
    //         position: relative;
    //         margin: 0;
    
    //         &1{
    //             width: 200px;
    //             background-color: rgba(255, 192, 203, 0.705);
    //             border: 4px solid white;
    //             border-radius: 25px;
    //             justify-content: center;
    //             align-content: center;
    //             position: absolute;
    //             padding: 40px 0;
    
    //             img{
    //                 margin-bottom: 15px;
    //             }
    
    //             p{
    //                 margin: 5px auto;
    //             }
    //         }
    
    //         &2{
    //             width: 350px;
    //             background-color: rgba(255, 192, 203, 0.705);
    //             border: 4px solid white;
    //             border-radius: 25px;
    //             justify-content: center;
    //             align-content: center;
    //             position: absolute;
    //             padding: 40px 0;
    
    //             img{
    //                 margin-bottom: 15px;
    //             }
    
    //             p{
    //                 margin: 5px auto;
    //                 text-align: center;
    //             }
    
    //             p:nth-child(2){
    //                 margin-bottom: 40px;
    //             }
    
    //         }
    
    //         &3{
    //             width: 470px;
    //             background-color: rgba(255, 192, 203, 0.7);
    //             border: 4px solid white;
    //             border-radius: 25px;
    //             justify-content: center;
    //             align-content: center;
    //             position: absolute;
    //             padding: 0 50px 0 0;
    //             margin: 340px 0 0 20px;
    
    //             img{
    //                 margin-bottom: -20px;
    //                 margin-left: -50px;
    //             }
    
    //             p{
    //                 text-align: justify;
    //                 margin: 5px 10px 5px -5px;
    //             }
    
    //             p:nth-child(2){
    //                 margin-bottom: -20px;
    //             }
    
    //         }
            
    //         &3Body{
    //             margin-top: -20px;
    //         }
    //     }
    
    //     &Part2Circle{
    //         height: 150px;
    //         width: 150px;
    //         background-color: rgb(206, 49, 198);
    //         border-radius: 50%;
    //         margin: 0 0 -50px -400px;
    //     }
    // }
    
}